@tailwind base;
@tailwind components;
@tailwind utilities;

#note-form-content:empty:before {
    content: attr(data-placeholder);
    opacity: 0.6;
}

#note-form-title:empty:before {
    content: attr(data-placeholder);
    opacity: 0.6;
}
